#compiled source
*.o
*.a

#other files
*.swp
*.swo
*.log

#qt
*.pro.user*

#build
build/*
!build/shaders
!build/data

#os file
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

#latex
*.aux
*.pyg
*.gz
*.toc
